<h1><%= link_to post.title, "#" %></h1>
<div class="row no-side-margin">
  <%= truncate post.content.html_safe, length: 1000, escape: false, separator: "\n", omission: "" %>
  <%= link_to "[Read more...]", "#" %>
</div>
