@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
$system-color: #4CAF50;
$system-color04: rgba(76, 175, 80, 0.40);
$system-color05: rgba(76, 175, 80, 0.50);
$system-color08: rgba(76,175,80,0.80);

/* global */
.no-side-margin {
  margin-left: 0px;
  margin-right: 0px;
}
.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.have-borders {
  border: solid 1px $system-color04;
}

.center {
  text-align: center !important;
}
/* layouts */
.border-buttom-div {
  border-bottom: solid 1px rgba(0,0,0,0.15);
  height: 20px;
}
.border-row {
   border-bottom: 1px solid $system-color04;
}
/* body */
body {
  background-color: #FFF !important;
}

/* right content */
#right-content {
  border: solid 1px black;
  height: 900px;
}

/* main content */
#main-content {
  font-family: Times New Roman;
  font-size: 18px;
  line-height: 25px;
  padding: 0px 25px;
  //font-size: 15px;
}
/* header */
#main-header {
  background-color: #F5F5F5;
  color: black;
}

#logo {
  font-size: 35px;
  color: $system-color !important;
}

#logo-container {
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

/* paginate */
.pagination > .active > a, .pagination > .active > a:hover,
.pagination > .active > a:focus, .pagination > .active > span,
.pagination > .active > span:hover, .pagination > .active > span:focus {
  color: #fff;
  background-color: $system-color;
  border-color: $system-color;
}

.pagination > li > a:hover, .pagination > li > a,
.pagination > li > span:hover, .pagination > li > span:focus {
  color: $system-color;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
/* comments */
.author-info {
  float: right;
  margin-top: 25px;
  margin-bottom: 15px;
}

.comment-row {
  margin-bottom: 20px;
  position: relative;
}
.comment-box {
  border-top: solid 1px $system-color04;
  height: auto;
  padding-top: 15px;
}
.like-and-created-time-row {
  position: absolute;
  bottom: 30px;
  right: 0;
  .liked-people {
     font-size: 13px;
  }
  .created-at {
    opacity: 0.7;
    margin-left: 15px;
    font-size: 12px;
  }
}
.comment-button-row {
  position: absolute;
  bottom: 0;
  right: 0;

  button {
    color: $system-color !important;
    border: solid 1px $system-color05;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  img {
    opacity: 0.8;
    height: 25px;
    width: 25px;
  }
}
.user-info {
  .glyphicon {
    font-size: 12px;
    opacity: 0.7;
  }
}
.user-text-info {
  margin: 10px 0px;
  text-align: center;
  .row {
     margin-bottom: 5px;
  }
}
.avatar-box {
   padding-top: 10px;
}
.cke_bottom {
  visibility: hidden;
  background: rgba(207, 209, 207, 0.17) !important;
  background-image: none !important;
  border-top: 1px solid $system-color04 !important;
}
.cke_top {
  background: rgba(207, 209, 207, 0.17) !important;
  background-image: none !important;
  border-bottom: 1px solid $system-color04 !important;
}
.cke_chrome {
  border: 1px solid $system-color04 !important;
  box-shadow: none !important;
}
.cke_toolgroup {
  border: 1px solid $system-color05 !important;
  background:rgba(210, 210, 210, 0.18) !important;
}
a.cke_button_on {
  box-shadow: 0 1px 5px $system-color inset,0 1px 0 rgba(0, 0, 0, 0) !important;
  background: $system-color08 !important;
  background-image: none !important;
}
a.cke_button_off:hover, a.cke_button_disabled:hover {
  background: none !important;
  background-image: none !important;
}
.add-comment-button {
  color: $system-color !important;
  border: solid 1px $system-color05 !important;
  margin-top: 20px;
  float: right;
}
/* comments */

/*Post*/
.function-button {
  margin-bottom: 25px;
  button {
    color: $system-color !important;
    border: solid 1px $system-color05;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  img {
     height: 30px;
     width: 30px;
  }
}
