<header class="navbar navbar-fixed-top shadow-z-1", id="main-header">
  <div class="container">
    <nav>
      <div id="logo-container" class="col-md-3">
         <%= link_to "LuuDanh", posts_path, id: "logo" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to t(".logout"), destroy_user_session_path,
            method: :delete %></li>
        <% else %>
          <li><%= link_to t(".login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
